* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black: #080808;
  --dark-grey: #1c1c1c;
  --light-grey: #414141;
  --super-light-grey: #5d5d5d;
  --yellow: #ffca26;
  --white: #ffffff;
}

body {
  background-color: var(--dark-grey);
}

/**
====================================================================================
SIDE BAR CSS
====================================================================================
**/
.sidebar-container {
  background-color: var(--light-grey);
  width: 300px;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.navbar-fixed-top {
  background-color: var(--super-light-grey) !important;
}

.div-tm-title {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h4-tm-title {
  text-align: center;
  font-size: 11pt;
  letter-spacing: 5px !important;
  margin-inline: 15px;
  padding-block: 10px;
  border-radius: 7px;
  margin-bottom: 0px !important;
}

.div-sidebar-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 15px;
  margin-top: 20px;
}

.h6-title-name {
  font-size: 15pt;
  margin-bottom: 0px !important;
}

.p-title-email {
  font-size: 10pt;
  line-height: 0px;
  margin-top: 10px;
}

.img-sidebar-logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: -5px;
}

.div-siderbar-menu-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  padding-top: 25px;
  gap: 10px;
}

.btn-menu {
  text-align: left;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.btn-menu-selected:hover {
  background-color: transparent !important;
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
}

.btn-menu-selected:active {
  background-color: transparent !important;
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
}

.btn-menu-unselected:hover {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--dark-grey) !important;
}

.btn-menu-unselected:active {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--dark-grey) !important;
}

/**
====================================================================================
SIDE BAR CSS
====================================================================================
**/

/**
====================================================================================
CONTENT CSS
====================================================================================
**/
.content {
  padding-left: 300px;
}

.a-navbar-path:hover {
  color: var(--white) !important;
}

.a-navbar-path:active {
  color: var(--white) !important;
}

.a-navbar-path:focus {
  color: var(--white) !important;
}

.btn-profile:hover {
  background-color: transparent !important;
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
}

.btn-profile:active {
  background-color: transparent !important;
  border-color: var(--yellow) !important;
  color: var(--yellow) !important;
}

.btn-logout:hover {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--dark-grey) !important;
}

.btn-logout:active {
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  color: var(--dark-grey) !important;
}
/**
====================================================================================
CONTENT CSS
====================================================================================
**/